body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Roboto", cursive, sans-serif;
  color: #ffffff;
}

body {
  background: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  font-family: "Bree Serif", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header{
  text-align: center;
  color: #f71aa2;
}

.app {
  background: linear-gradient(5deg, #72bdca 0%, #1f1a1d 100%);
  width: 95%;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}


/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #f71aa2;
  border-radius: 18px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #234668;
  cursor: pointer;
  background-color:#cec9c2;
}


button:hover {
  background-color: #e3e19f;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
